@use "sass:color";
@use "sass:list";
@use "sass:meta";
@use "bulma/sass" as bulma;
@use "utilities/functions" as fn;
// Overrides
@mixin btn-gradient($color) {
  background-image: linear-gradient(
    180deg,
    color.adjust($color, $lightness: 8%) 0%,
    $color 60%,
    color.adjust($color, $lightness: -4%) 100%
  );
}

.button {
  @each $name, $pair in bulma.$colors {
    $color: null;
    $color-invert: null;

    @if meta.type-of($pair) == 'list' {
      $color: list.nth($pair, 1);
      @if list.length($pair) > 1 {
        $color-invert: list.nth($pair, 2);
      } @else {
        $color-invert: fn.bulmaFindColorInvert($color);
      }
    } @else if meta.type-of($pair) == 'color' {
      $color: $pair;
      $color-invert: fn.bulmaFindColorInvert($color);
    }
    @if meta.type-of($color) == 'color' {
      &.is-#{$name} {
        &:not(.is-outlined):not(.is-inverted) {
          @include btn-gradient($color);
        }
      }
    }
}

.select,
.select select {
  height: auto !important;
}

.input,
.textarea {
  box-shadow: none;
}

.card {
  box-shadow: 0 0 0 1px $border;
  background-color: $white-bis;
  .card-header {
    box-shadow: none;
    border-bottom: 1px solid $border;
  }
}

.notification {
  @each $name, $pair in bulma.$colors {
    $color: list.nth($pair, 1);
    $color-invert: list.nth($pair, 2);
    $color-lightning: max((100% - color.lightness($color)) - 2%, 0%);
    &.is-#{$name} {
      background-color: color.adjust($color, $lightness: $color-lightning);
      color: $color;
      border: 1px solid color.adjust($color, $lightness: 30%);
    }
  }
}

.navbar:not(.is-transparent) {
  @include btn-gradient($primary);
  .navbar-item,
  .navbar-link {
    color: $white;
    &.has-dropdown:hover .navbar-link,
    &:hover {
      background-color: rgba(#000, 0.05);
    }
    &.is-active,
    &:active {
      background-color: rgba(#000, 0.1);
    }
  }
  .navbar-burger:hover {
    background-color: rgba(#000, 0.05);
  }
  .navbar-link::after {
    border-color: $white;
  }
  @include until($navbar-breakpoint) {
    .navbar-menu {
      background-color: $primary;
      @include btn-gradient($primary);
    }
  }
    @include from($navbar-breakpoint) {
    .navbar-dropdown .navbar-item {
      color: $grey-dark;
    }
  }
  .navbar-burger {
    span {
      background-color: $white;
    }
  }
  @each $name, $pair in bulma.$colors {
    $color: list.nth($pair, 1);
    $color-invert: list.nth($pair, 2);
    &.is-#{$name} {
      @include btn-gradient($color);
      @include until($navbar-breakpoint) {
        .navbar-menu {
          background-color: $color;
          @include btn-gradient($color);
        }
        .navbar-item,
        .navbar-link {
          color: $color-invert;
          &.is-active,
          &:hover {
            background-color: color.adjust($color, $lightness: -2%);
            color: $color-invert;
          }
          &:after {
            border-color: $color-invert;
          }
        }
      }
      .navbar-burger {
        span {
          background-color: $color-invert;
        }
      }
    }
  }
}

.hero {
  .navbar:not(.is-transparent) {
    @include btn-gradient($primary);
  }
  @each $name, $pair in bulma.$colors {
    $color: list.nth($pair, 1);
    $color-invert: list.nth($pair, 2);
    &.is-#{$name} {
      .navbar {
        @include btn-gradient($color);
      }
      .navbar-item,
      .navbar-link {
        color: $color-invert;
        &.is-active,
        &:hover {
          background-color: color.adjust($color, $lightness: -2%);
          color: $color-invert;
        }
        &:after {
          border-color: $color-invert;
        }
      }
      .navbar-burger {
        span {
          background-color: $color-invert;
        }
      }
      @include until($navbar-breakpoint) {
        .navbar-menu {
          background-color: $color;
          @include btn-gradient($color);
        }
      }
        @include from($navbar-breakpoint) {
        .navbar-dropdown a.navbar-item:hover {
          color: $color-invert;
        }
      }
    }
  }
  }
}
